
body {
  background: #0e8296;
  margin-top: 40px;
  margin-left: 10px;
}

img {
  margin-top: 30px;
  width: 430px;
  height: 400px;
  margin-left: -80px;
}

h3 {
  margin-top: -5px;
  text-transform: uppercase;
  font-family: "Courier New", monospace;
  color: white;
  text-align: center;
  text-shadow: 4px 4px 5px black;
  font-size: 30px;
}

h2 {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: "Courier New", monospace;
  color: white;
  text-align: center;
  text-shadow: 4px 4px 5px black;
  font-size: 30px;
}

#resultado {
  margin-left: 125px;
  margin-top: -32px;
  font-size: 20px;
  width: 62%;
  height: 33px;
  padding: 5px;
  border-radius: 5px;
  text-align: right;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	letter-spacing: 1px;
}

#calcular {
  color: black;
  text-transform: uppercase;
  text-align: center;
  background-color: #cee9ea;
  line-height: 5px;
  font-size: 12px;
  width: 102px;
  height: 8px;
  border: 2px solid transparent;
  padding: 15px;
  margin-right: 220px;
  margin-top: 10px;
  border-radius: 50px;
  box-shadow: 0 5px #999;
  cursor: pointer;
  transition: .2s;
   }
  #calcular:active {
    transform: translateY(4px);
    box-shadow:0 3px #666;
    }
    #calcular img {
      width: 35px;
      height: 35px;
      margin-top: -17px;
      margin-left: 3px;
    }

#irBuscar {
  color: black;
  text-transform: uppercase;
  text-align: center;
  background-color: #cee9ea;
  line-height: 5px;
  font-size: 12px;
  width: 102px;
  height: 8px;
  border: 2px solid transparent;
  padding: 15px;
  margin-left: 216px;
  border-radius: 50px;
  box-shadow: 0 5px #999;
  cursor: pointer;
  transition: .2s;
   }
  #irBuscar:active {
    transform: translateY(4px);
    box-shadow:0 3px #666;
    }
    #irBuscar img {
      width: 35px;
      height: 35px;
      margin-top: -18px;
      margin-left: 3px;
    }

#seguir {
  color: black;
  text-transform: uppercase;
  text-align: center;
  background-color: #cee9ea;
  line-height: 5px;
  font-size: 12px;
  width: 102px;
  height: 8px;
  border: 2px solid transparent;
  padding: 15px;
  margin-left: 220px;
  margin-top: 5px;
  border-radius: 50px;
  box-shadow: 0 5px #999;
  cursor: pointer;
  transition: .2s;
   }
  #seguir:active {
    transform: translateY(4px);
    box-shadow:0 3px #666;
    }
    #seguir img {
      width: 35px;
      height: 35px;
      margin-top: -18px;
      margin-left: 3px;
    } 